---
---
<div id="command-palette-overlay">
  <div id="command-palette" role="dialog" aria-modal="true">
    <input type="text" id="command-palette-input" placeholder="Ketik perintah...">
    <ul id="command-palette-list" role="listbox"></ul>
  </div>
</div>
