---
---
<div id="loading-screen" class="loading-screen fixed top-0 left-0 w-full h-full bg-pastel-bg-light flex items-center justify-center z-[9999] transition-opacity duration-500">
  <i class="fas fa-satellite-dish text-gradient text-5xl animate-spin"></i>
</div>
