---
---
<div id="notification-banner" class="fixed top-[-100px] left-1/2 transform -translate-x-1/2 bg-pastel-card-bg-light backdrop-blur-xs border border-pastel-border-light text-pastel-text-light px-6 py-3 rounded-lg shadow-pastel-light font-medium transition-top duration-500 z-[1001]">
</div>
